#content {
  margin: 1em;
}

.row {
  margin-top: 15px;
  margin-bottom: 15px;
}

label {
  margin-bottom: 0;
}

.form-control {
  color: black;
}

#coloredNick {
  font-size: 4rem;
  word-wrap: break-word;
  line-height: 1;
}

#colors {
  height: 150px;
  display: flex;
  flex-direction: row;
}

#title {
  position: relative;
  font-family: MinecraftRegular;
  background: linear-gradient(124deg, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  animation: rainbow_animation 18s ease infinite;
  background-size: 800% 200%;
}

input {
  font-family: MinecraftRegular !important;
}

#output {
  width: 100%;
}

#outputText {
  cursor: pointer;
  height: 200px;
  font-family: MinecraftRegular;
  background-color: white;
  border-radius: 5px;
  color: black;
  width: 100%;
  overflow: auto;
  padding: 1em;
  margin-top: 0;
}

#controls .column {
  padding-left: 0;
}

.ui.grid > .row {
  padding: 0;
}

.ui.checkbox.row:not(.first) {
  margin-top: 0.25em;
}

.ui.checkbox.row:not(.last) {
  margin-bottom: 0.25em;
}

.dbold,
.ditalics,
.dunderline,
.dstrike {
  font-family: MinecraftRegular;
  color: lightgrey !important;
}

#error {
  font-size: 20px;
  font-family: MinecraftBoldItalic;
  color: red;
  display: none;
  margin-bottom: 10px;
}

@keyframes rainbow_animation {
  0%, 100% {
    background-position: 0 82%;
  }
  50% {
    background-position: 100% 19%;
  }
}

body {
  background: rgb(49, 49, 49);
  color: lightgray;
  font-family: MinecraftRegular;
}
