#title {
    position: relative;
    background: linear-gradient(124deg, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: rainbow_animation 18s ease infinite;
    background-size: 800% 200%;
  }

  @keyframes rainbow_animation {
    0%, 100% {
      background-position: 0 82%;
    }
    50% {
      background-position: 100% 19%;
    }
  }