@font-face {
  font-family: MinecraftRegular;
  src: url(../fonts/MinecraftRegular.otf);
}
@font-face {
  font-family: MinecraftBold;
  src: url(../fonts/MinecraftBold.otf);
}
@font-face {
  font-family: MinecraftItalic;
  src: url(../fonts/MinecraftItalic.otf);
}
@font-face {
  font-family: MinecraftBoldItalic;
  src: url(../fonts/MinecraftBoldItalic.otf);
}
html {
  overflow: overlay;
  font-family: MinecraftRegular;
}
.input {
  overflow: hidden;
}
*::-webkit-scrollbar {
  width: 8px;
}
*::-webkit-scrollbar:hover {
  width: 14px;
}
*::-webkit-scrollbar-track {
  background: #00000000;
}
*::-webkit-scrollbar-thumb {
  background-color: #0A0A0A50;
  border-radius: 3px;
}