@font-face {
  font-family: MinecraftRegular;
  src: url(../assets/fonts/MinecraftRegular.otf);
}
@font-face {
  font-family: MinecraftBold;
  src: url(../assets/fonts/MinecraftBold.otf);
}
@font-face {
  font-family: MinecraftItalic;
  src: url(../assets/fonts/MinecraftItalic.otf);
}
@font-face {
  font-family: MinecraftBoldItalic;
  src: url(../assets/fonts/MinecraftBoldItalic.otf);
}
#coloredNick p {
  font-size: 4rem;
  font-family: MinecraftRegular;
  margin-right: 15px;
}
#colors {
  height: 150px;
  display: flex;
  flex-direction: row;
}
#title {
  position: relative;
  font-family: MinecraftRegular;
  background: linear-gradient(to right, #ff0000, #00ff00 , #0099ff, #00ff00, #ff0000);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  animation: rainbow_animation 6s ease-in-out infinite;
  background-size: 400% 100%;
}
#warning {
  font-family: Minecraftbold;
  color: red;
}
#spitter {
  white-space: pre-wrap;
  height: 56.5px;
}
#dbold, #ditalics, #dunderline, #dstrike{
  font-family: MinecraftRegular;
  color: lightgrey;
}
#graylabel2 {
  color: lightgrey;
}
#label4 {
  color: #782d2d;
}
#Typelabel {
  color: white;
}
#typeslist {
  position: relative;
  right: -20px;
}
#error {
  font-size: 20;
  font-family: MinecraftBoldItalic;
  color: red;
}
#types{
  position: sticky;
  color: #000;
}
#inputs{
  position: relative;
  text-align: left;
  display: flex;
  flex-direction: column;
}
#formats{
  position: relative;
  text-align: left;
  bottom: -50;
}
#bold{
  text-align: left;
}
#inputOutput{
  display: inline;
  flex-direction: row;
}
#nav-headbar{
  display: flex;
}
.minecraft {
  font-family: MinecraftRegular;
}
.minecraftbold {
  font-family: MinecraftBold;
}
.minecraftitalic {
  font-family: MinecraftItalic;
}
.minecraftibold {
  font-family: MinecraftBoldItalic;
}
.minecraftunderline {
  text-decoration: underline;
}
.minecraftustrike {
  text-decoration: underline line-through;
}
.minecraftstrike {
  text-decoration: line-through;
}
.control-label{
  font-family: MinecraftRegular;
  color: lightgrey;
}
.color {
  width: 100%;
}
@keyframes rainbow_animation {
  0%,100% {
      background-position: 0 0;
  }

  50% {
      background-position: 100% 0;
  }
}
body {
  margin: auto;
  position: relative;
  background: rgb(49, 49, 49);
  color: lightgray;
  font-family: MinecraftRegular;
}