.color {
  width: 100%;
}
#colors {
  height: 150px;
  display: flex;
  flex-direction: row;
}
@font-face {
  font-family: MinecraftRegular;
  src: url(../assets/fonts/MinecraftRegular.otf);
}
@font-face {
  font-family: MinecraftBold;
  src: url(../assets/fonts/MinecraftBold.otf);
}
@font-face {
  font-family: MinecraftItalic;
  src: url(../assets/fonts/MinecraftItalic.otf);
}
@font-face {
  font-family: MinecraftBoldItalic;
  src: url(../assets/fonts/MinecraftBoldItalic.otf);
}
#coloredNick p {
  font-size: 4rem;
  font-family: MinecraftRegular;
  margin-right: 15px;
}
#title {
  font-family: MinecraftRegular;
  color: lightgrey;
}
#warning {
  font-family: Minecraftbold;
  color: red;
}
#spitter {
  white-space: pre-wrap;
  height: 56.5px;
  margin-right: 0px;
}
#color1 {
  margin-left: 0px;
}
#color2 {
  margin-left: 0px;
}
body {
  background: rgb(49, 49, 49); /* Green background with 30% opacity */
}
.navbar-header {
  width: 100;
}
#graylabel2 {
  color: lightgrey;
}
#label4 {
  color: #782d2d;
}
#Typelabel {
  color: white;
}
#typeslist {
  position: relative;
  right: -20px;
}
#error {
  font-size: 20;
  font-family: MinecraftBoldItalic;
  color: red;
}
