.color {
  width: 100%;
}
#colors {
  height: 200px;
  display: flex;
  flex-direction: row;
}
@font-face {
  font-family: MinecraftRegular;
  src: url(../assets/fonts/MinecraftRegular.otf);
}
@font-face {
  font-family: MinecraftBold;
  src: url(../assets/fonts/MinecraftBold.otf);
}
@font-face {
  font-family: MinecraftItalic;
  src: url(../assets/fonts/MinecraftItalic.otf);
}
@font-face {
  font-family: MinecraftBoldItalic;
  src: url(../assets/fonts/MinecraftBoldItalic.otf);
}
#coloredNick p {
  font-size: 4rem;
  font-family: MinecraftRegular;
}
#title {
  font-family: MinecraftRegular;
  color: lightgrey;
}
#warning1 {
  font-family: Minecraftbold;
  color: red;
}
#warning2 {
  font-family: Minecraftbold;
  color: red;
}
#spitter1 {
  white-space: pre-wrap;
  height: 56.5px;
  margin-right: 15px;
}
#spitter {
  white-space: pre-wrap;
  height: 56.5px;
  margin-right: 15px;
  margin-bottom: 7px;
}
body {
  background: rgb(49, 49, 49); /* Green background with 30% opacity */
}
