<html lang="en">
<head>
    <meta content="SimplyMC" property="og:title" />
    <meta content="Minecraft multitool for everyone" property="og:description" />
    <meta content="https://www.simplymc.art/" property="og:url" />
    <meta content="https://www.simplemc.art/images/emc.png" property="og:image" />
    <meta content="#9C0000" data-react-helmet="true" name="theme-color" />
    <link rel="shortcut icon" href="/images/emc.png" type="image/x-icon">
    <title><%= title %> </title>
    <link rel="stylesheet"  href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</head>
<body>
    <nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
        <a class="navbar-brand" href="#">SimplyMC</a>
        </div>
        <ul class="nav navbar-nav">
        <li><a href="/">Home</a></li>
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true">Gradients <span class="caret"></span></a>
            <ul class="dropdown-menu">
            <li><a href="/Gradients">Hex Gradients</a></li>
            <li><a href="/AnimTAB">Animated TAB</a></li>
            </ul>
        </li>
        <li><a href="#">More Coming Soon</a></li>
        <li><a href="https://github.com/Oli-idk/SimplyMC"><img src="/images/github.png" height="20px"></a></a></li>
        <li><a href="https://discord.akiradev.xyz"><img src="/images/discord.png" height="20px"></a></a></li>
        </ul>
    </div>
    </nav>