<!DOCTYPE html>
<html lang="en">
<head>
  <title><%= title %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta content="SimplyMC" property="og:title" />
  <meta content="Minecraft multitool for everyone" property="og:description" />
  <meta content="https://www.simplymc.art/" property="og:url" />
  <meta content="https://www.simplymc.art/images/emc.png" property="og:image" />
  <meta content="#9C0000" data-react-helmet="true" name="theme-color" />
  <link rel="shortcut icon" href="/images/emc.png" type="image/x-icon">
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
  <link rel="stylesheet" type="text/css" href="https://unpkg.com/bulma-prefers-dark">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <link rel="preload" href="/fonts/MinecraftRegular.otf" as="font" type="font/otf" crossorigin>
  <link rel="preload" href="/fonts/MinecraftBold.otf" as="font" type="font/otf" crossorigin>
  <link rel="preload" href="/fonts/MinecraftItalic.otf" as="font" type="font/otf" crossorigin>
  <link rel="preload" href="/fonts/MinecraftBoldItalic.otf" as="font" type="font/otf" crossorigin>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body class="has-navbar-fixed-top">
  <nav class="navbar is-dark is-fixed-top" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item" href="/">
        SimplyMC
      </a>

      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="simplymc-navbar">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div id="simplymc-navbar" class="navbar-menu">
      <div class="navbar-start">
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link">
            Gradients
          </a>
          <div class="navbar-dropdown">
            <a class="navbar-item" href="/Gradients">
              Hex Gradients
            </a>
            <a class="navbar-item" href="/AnimTab">
              Animated TAB
            </a>
          </div>
        </div>
        <a class="navbar-item" href="/AnimTexture">
          Animated Texture
        </a>
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link">
            Analysis
          </a>
          <div class="navbar-dropdown">
            <a class="navbar-item" href="/SparkProfile">
              Spark Profile
            </a>
            <a class="navbar-item" href="/PaperTimings">
              Paper Timings
            </a>
          </div>
        </div>
        <a class="navbar-item">
          More Coming Soon
        </a>
      </div>
    
      <div class="navbar-end">
        <a class="navbar-item" href="https://github.com/AkiraDevelopment/SimplyMC">
          GitHub
        </a>
        <a class="navbar-item" href="https://discord.akiradev.xyz/">
          Discord
        </a>
      </div>
    </div>
  </nav>
  <script>
    $(document).ready(() => {
      $(".navbar-burger").click(() => {
        $(".navbar-burger").toggleClass("is-active");
        $(".navbar-menu").toggleClass("is-active");
      });
    });
  </script>