@import "tailwindcss";

.docs {
  --scroll-margin-top: 10rem
}

.docs article a {
  @apply text-blue-400 underline;
}

.docs article blockquote {
  @apply bg-gray-800 border-l-6 border-l-blue-400 rounded-md px-6 py-8 my-4 border border-gray-700;
}

.docs article blockquote p:first-child {
  @apply mt-0
}

.docs article blockquote p:last-child {
  @apply mb-0;
}

.docs article a:hover {
  @apply text-blue-500 no-underline;
}

.docs article h1,
.docs article h2,
.docs article h3,
.docs article h4,
.docs article h5,
.docs article h6 {
  @apply relative text-xl font-semibold;
  scroll-margin-top: var(--scroll-margin-top);
  margin-bottom: max(0.7em, 18px);
}

.docs article h1 {
  @apply text-5xl font-extrabold;
  line-height: 1.2;
}

.docs article h2 {
  @apply text-4xl font-bold;
  line-height: 1.2;
}

.docs article h3 {
  @apply text-3xl;
}

.docs article p {
  @apply text-gray-400;
}

.docs article ul,
.docs article ol {
  @apply my-4 ml-10 text-gray-400 list-disc;
}

.docs article ol {
  @apply list-decimal;
}

.docs article li {
  @apply my-1 pl-2;
}

.docs article pre {
  @apply rounded-md overflow-auto p-4 bg-gray-800 my-2;
}

:root {
  --code-line-height: 24px;
}

.docs article pre code {
  @apply border-none select-auto bg-transparent;
}

.docs article code {
  @apply bg-gray-800 py-0.5 px-1 rounded-md select-all border-b-2 border-b-gray-700;
}

@media (max-width: 640px) {
  .docs article code {
    @apply break-all;
  }

  .docs article h1 {
    @apply text-4xl;
  }

  .docs article h2 {
    @apply text-3xl;
  }
}

.docs article table {
  @apply my-5;
}

.docs article th,
.docs article td {
  @apply p-2 align-top;
}

.docs article th:first-child,
.docs article td:first-child {
  @apply pl-0;
}

.docs article th:last-child,
.docs article td:last-child {
  @apply pr-0;
}

.docs article img {
  @apply rounded-md overflow-hidden;
}

.docs article hr {
  @apply my-8 border-t-1 border-t-gray-700;
}