@font-face {
  font-family: MinecraftRegular;
  src: url(../assets/fonts/MinecraftRegular.otf);
}

@font-face {
  font-family: MinecraftBold;
  src: url(../assets/fonts/MinecraftBold.otf);
}

@font-face {
  font-family: MinecraftItalic;
  src: url(../assets/fonts/MinecraftItalic.otf);
}

@font-face {
  font-family: MinecraftBoldItalic;
  src: url(../assets/fonts/MinecraftBoldItalic.otf);
}

#content {
  margin: 1em;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.show {display:block;}

.row {
  margin-top: 15px;
  margin-bottom: 15px;
}

label {
  margin-bottom: 0;
}

.form-control {
  color: black;
}

#coloredNick {
  font-size: 4rem;
  word-wrap: break-word;
}

#colors {
  height: 150px;
  display: flex;
  flex-direction: row;
}

#title {
  position: relative;
  font-family: MinecraftRegular;
  background: linear-gradient(124deg, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  animation: rainbow_animation 18s ease infinite;
  background-size: 800% 200%;
}

#outputText {
  white-space: pre-wrap;
  cursor: pointer;
  height: 95px;
  font-family: MinecraftRegular;
}

#dbold,
#ditalics,
#dunderline,
#dstrike {
  font-family: MinecraftRegular;
  color: lightgrey;
}

#error {
  font-size: 20px;
  font-family: MinecraftBoldItalic;
  color: red;
  display: none;
  margin-bottom: 10px;
}

.minecraft {
  font-family: MinecraftRegular;
}

.minecraftbold {
  font-family: MinecraftBold;
}

.minecraftitalic {
  font-family: MinecraftItalic;
}

.minecraftibold {
  font-family: MinecraftBoldItalic;
}

.minecraftunderline {
  text-decoration: underline;
}

.minecraftustrike {
  text-decoration: underline line-through;
}

.minecraftstrike {
  text-decoration: line-through;
}

@keyframes rainbow_animation {
  0%, 100% {
    background-position: 0 82%;
  }
  50% {
    background-position: 100% 19%;
  }
}

body {
  background: rgb(49, 49, 49);
  color: lightgray;
  font-family: MinecraftRegular;
}
