@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: MinecraftRegular;
  src: url(/fonts/MinecraftRegular.otf);
  font-display: swap;
}

@font-face {
  font-family: MinecraftBold;
  src: url(/fonts/MinecraftBold.otf);
  font-display: swap;
}

@font-face {
  font-family: MinecraftItalic;
  src: url(/fonts/MinecraftItalic.otf);
  font-display: swap;
}

@font-face {
  font-family: MinecraftBoldItalic;
  src: url(/fonts/MinecraftBoldItalic.otf);
  font-display: swap;
}

@font-face {
  font-family: MinecraftRus;
  src: url(/fonts/MinecraftRus.ttf);
  font-display: swap;
}

html {
  background-color: rgb(17 24 39);
}

.font-mc {
  font-family: MinecraftRegular, MinecraftRus;
}

.font-mc-bold {
  font-family: MinecraftBold, MinecraftRus;
  font-weight: bold;
}

.font-mc-italic {
  font-family: MinecraftItalic, MinecraftRus;
  font-style: italic;
}

.font-mc-bold-italic {
  font-family: MinecraftBoldItalic, MinecraftRus;
  font-style: italic;
  font-weight: bold;
}

.strikethrough {
  text-decoration-line: line-through;
}

.underline-strikethrough {
  text-decoration-line: underline line-through;
}

* {
  scroll-behavior: smooth;
  touch-action: manipulation;
  -webkit-tap-highlight-color: transparent;
}

/* NAVBAR TRANSITION */
nav {
  view-transition-name: nav;
}

/* MAIN TRANSITION */
body {
  view-transition-name: root;
}

::view-transition-old(root) {
  animation: 210ms cubic-bezier(0.4, 0, 1, 1) both fade-out,
    600ms cubic-bezier(0.4, 0, 0.2, 1) both slide-to-bottom;
}

::view-transition-new(root) {
  animation: 420ms cubic-bezier(0.4, 0, 0.2, 1) both fade-in,
    600ms cubic-bezier(0.4, 0, 0.2, 1) both slide-from-top;
}


@keyframes fade-in {
  from { opacity: 0; }
}

@keyframes fade-out {
  to { opacity: 0; }
}
@keyframes slide-from-top {
  from {
    transform: translateY(30px);
    scale: 0.95;
  }
}
@keyframes slide-to-bottom {
  to {
    transform: translateY(-30px);
    scale: 0.95;
  }
}