<%- include("partials/header", { queryPreset, path, title: "Animated TAB Creator", description: "TAB plugin gradient animation creator" }) %>
  <link rel="stylesheet" href="/css/RGBStyle.css">

  <div id="hexColorTemplate" style="display:none;">
    <div class="row">
      <label for="color-$NUM">Hex Color #$NUM</label>
      <input class="input col-md-1 hexColor" id="color-$NUM" value="$VAL"
        data-jscolor="{preset:'small dark', position:'right'}" oninput="javascript: updateOutputText(event)"
        onchange="javascript: updateOutputText(event); Cookies.set(`#${$NUM}`, document.getElementById('color-$NUM').value, { expires: 7, path: '' })"/>
    </div>
  </div>

  <section class="hero is-dark is-fullheight-with-navbar">
    <div class="hero-body">
      <div class="container">
        <p class="title" id="title">
          Animated TAB
        </p>
        <p class="subtitle">
          TAB plugin gradient animation creator
        </p>
        <br>
        <div class="tile is-ancestor">
          <div class="tile is-parent">
            <div class="tile is-child">
              <p class="title">Output</p>
              <p class="subtitle">This is what you put in animations.yml. Click on it to copy.</p>
              <div class="content">
                <pre class="textarea" style="white-space: pre-wrap;"id="outputText" placeholder="Output will appear here" onclick="copyTextToClipboard(this.innerText)"></pre>
              </div>
              <p id="error">This is more than 256 characters and may not fit in the chat box.</p>
            </div>
          </div>
        </div>
        <div class="tile is-ancestor">
          <div class="tile is-parent">
            <div class="tile is-child">
              <div id="animation" class="title minecraft"></div>
            </div>
          </div>
        </div>
        <div class="tile is-ancestor">
          <div class="tile is-parent">
            <div class="tile is-child">
              <label for='numOfColors'>Number of Colors</label>
              <input type="number" id="numOfColors" class="input" type="text" min="2" max="10" value="2" oninput="toggleColors(this.value); updateOutputText(event);">
              <div id="hexColors" class="content"></div>
            </div>
          </div>
          <div class="tile is-parent is-8">
            <div class="tile is-child">
              <div class="content">
                <label for='animationName'>Animation Name</label>
                <input id="animationName" class="input" type="text" placeholder="Your Text" value="logo" oninput="updateOutputText(event);">
                <label for='animationText'>Animation Text</label>
                <input id="animationText" class="input" type="text" placeholder="Your Text" value="SimplyMC" oninput="updateOutputText(event);">
                <label for="animationType">Animation Type</label>
                <div class="select" style="width:100%">
                  <select style="width:100%" id="animationType" onchange="updateOutputText(event);">
                    <option value='0'>Normal (left -> right)</option>
                    <option value='1'>Reverse (right -> left)</option>
                    <option value='2'>Bouncing (UNFINISHED)</option>
                    <option value='3'>Full text cycle</option>
                  </select>
                </div>
                <label for='animation-speed'>Animation Speed</label>
                <input type="number" id="animation-speed" class="input" type="text" min="50" max="10000" step="50" value="50" oninput="updateOutputText(event);">  
                <label for='output-format'>Output Format</label><br>
                <div class="select" style="width:100%">
                  <select style="width:100%" id="output-format" onchange="updateOutputText(event);">
                    <option value='0'>&#rrggbb</option>
                    <option value='1'>&x&r&r&g&g&b&b</option>
                    <option value='2'>custom</option>
                  </select>
                </div>
                <div class="hidden" id="customFormatWrapper">
                  <label for='customFormat'>Input Text</label>
                  <input id="customFormat" class="input" type="text" oninput="updateOutputText(event);">
                  <p>Placeholders:</p>
                  <ul>
                    <li>$1 - First RR hex</li>
                    <li>$2 - Second RR hex</li>
                    <li>$3 - First GG hex</li>
                    <li>$4 - Second GG hex</li>
                    <li>$5 - First BB hex</li>
                    <li>$6 - Second BB hex</li>
                    <li>$c - Character to format</li>
                  </ul>
                </div>
                <label for='animationFormatting'>Animation Formatting</label>
                <input id="animationFormatting" class="textarea" type="text" placeholder="Your Text" value="%name%:\n  change-interval: %speed%\n  texts:\n%output%" oninput="updateOutputText(event);" style="white-space: pre-wrap;">
                <label for="exportPreset">Custom Presets</label><br>
                <button class="button" type="button" id="exportPreset"
                  onclick="copyTextToClipboard(exportPreset());">
                  Copy Preset
                </button>
                <button class="button" type="button" id="importPreset"
                  onclick="showfield('importInput')">
                  Import Preset
                </button>
                <div id="importInput" style="display: none;">
                  <label for='import'>Paste Here</label>
                  <input id="import" name="ImportInput" class="input" type="text" onchange="javascript: importPreset(this.value)">  
                </div>
                <br><br>
                <div id="formatSelector">
                  <label class="checkbox">
                    <input type="checkbox" id="bold" onclick="updateOutputText();">
                    Bold
                  </label>
                  <label class="checkbox">
                    <input type="checkbox" id="italics" onclick="updateOutputText();">
                    Italic
                  </label>
                  <label class="checkbox">
                    <input type="checkbox" id="underline" onclick="updateOutputText();">
                    Underline
                  </label>
                  <label class="checkbox">
                    <input type="checkbox" id="strike" onclick="updateOutputText();">
                    Strikethrough
                  </label>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jscolor/2.4.8/jscolor.min.js"></script>
  <script src="/js/RGBScript.js"></script>
  <script src="/js/AnimTABScript.js"></script>
  <script>
    let qPreset = '<%- queryPreset %>';
    if(qPreset) importPreset(qPreset);
  </script>
<%- include("partials/footer") %>
