<%- include("partials/header", { path, title: "Animated Texture Creator", description: "Easily merge textures for resource pack animations", ads: false }) %>
<link rel="stylesheet" href="/css/AnimTexture.css">

<section class="hero is-dark is-fullheight-with-navbar">
  <div class="hero-body">
    <div class="container">
      <div class="row">
        <p class="title">Animated Textures</p>
        <p class="subtitle">Easily merge textures for resource pack animations</p>
        <p>THIS PAGE IS HEAVILY A WORK IN PROGRESS</p>

        <div class="file is-normal is-boxed">
          <label class="file-label">
            <input class="file-input" type="file" onchange="readFile(this);this.value='';" accept="image/*">
            <span class="file-cta">
              <span class="file-label">
                Select Frame
              </span>
            </span>
          </label>
        </div>

        <br>

        <div id="imgs" style="display: flex; flex-wrap: wrap; max-height: 620px; overflow: auto;"></div>

        <br>

        <label for='tname'>Texture name</label>
        <input id="tname" class="input" type="text">
        <br><br>
        <label>Cumulative (check this if gif frames are broken):</label>
        <input type="checkbox" id="cumulative">
        <br>
        <button class="button is-black" onclick="generate();">Generate</button>

        </div>
        <div id="links" style="display:none;">
          <a id="pngd">Download PNG</a>
          <br>
          <a href='data:text/plain;charset=utf-8,{"animation":{}}' id="mcmeta" target="_blank">Download MCMETA</a>
        </div>
      </div>
      <canvas id="c" style="width: 10em;"></canvas>
  </div>
</section>

<script src="/js/AnimTextureScript.js"></script>
<script src="/js/gif-frames.js"></script>
<%- include("partials/footer") %>