<%- include("partials/header", { queryPreset, path, title: "Hex Gradient Creator" }) %>
  <link rel="stylesheet" href="/css/RGBStyle.css">

  <div id="hexColorTemplate" style="display:none;">
    <div class="row">
      <label for="color-$NUM">Hex Color #$NUM</label>
      <input class="input col-md-1 hexColor" id="color-$NUM" value="$VAL"
        data-jscolor="{preset:'small dark', position:'right'}" oninput="javascript: updateOutputText(event)"
        onchange="javascript: updateOutputText(event); Cookies.set(`#${$NUM}`, document.getElementById('color-$NUM').value, { expires: 7, path: '' })"/>
    </div>
  </div>

  <section class="hero is-dark is-fullheight-with-navbar">
    <div class="hero-body">
      <div class="container">
        <p class="title" id="title">
          Hex Gradients
        </p>
        <p class="subtitle">
          Hex color gradient creator
        </p>
        <br>
        <div class="tile is-ancestor">
          <div class="tile is-parent">
            <div class="tile is-child">
              <p class="title">Output</p>
              <p class="subtitle">This is what you put in the chat. Click on it to copy.</p>
              <div class="content">
                <pre class="textarea" id="outputText" placeholder="Output will appear here" onclick="navigator.clipboard.writeText(this.innerText).then(() => alert('Copied text successfully!')).catch(() => alert('Failed to copy text!'))"></pre>
              </div>
              <p id="error">This is more than 256 characters and may not fit in the chat box.</p>
            </div>
          </div>
        </div>
        <div class="tile is-ancestor">
          <div class="tile is-parent">
            <div class="tile is-child">
              <div id="coloredNick" class="title minecraft"></div>
            </div>
          </div>
        </div>
        <div class="tile is-ancestor">
          <div class="tile is-parent">
            <div class="tile is-child">
              <label for='numOfColors'>Number of Colors</label>
              <input type="number" id="numOfColors" class="input" type="text" min="2" max="10" value="2" oninput="toggleColors(this.value); updateOutputText(event);">
              <div id="hexColors" class="content"></div>
            </div>
          </div>
          <div class="tile is-parent is-8">
            <div class="tile is-child">
              <div class="content">
                <label for='nickname'>Input Text</label>
                <input id="nickname" class="input" type="text" placeholder="Your Text" value="SimplyMC" oninput="updateOutputText(event);">
                <label for='output-format'>Output Format</label><br>
                <div class="select" style="width:100%">
                  <select style="width:100%" id="output-format" onchange="updateOutputText(event);">
                    <option value='0'>chat (&#rrggbb)</option>
                    <option value='1'>chat (<#rrggbb>)</option>
                    <option value='2'>chat (&x&r&r&g&g&b&b)</option>
                    <option value='3'>/nick (&#rrggbb)</option>
                    <option value='4'>/nick (<#rrggbb>)</option>
                    <option value='5'>/nick (&x&r&r&g&g&b&b)</option>
                    <option value='6'>console (§x§r§r§g§g§b§b)</option>
                    <option value='7'>bbcode [COLOR=#rrggbb]</option>
                    <option value='8'>custom</option>
                  </select>
                </div>
                <div class="hidden" id="customFormatWrapper">
                  <label for='customFormat'>Input Text</label>
                  <input id="customFormat" class="input" type="text" oninput="updateOutputText(event);">
                  <p>Placeholders:</p>
                  <ul>
                    <li>$1 - First RR hex</li>
                    <li>$2 - Second RR hex</li>
                    <li>$3 - First GG hex</li>
                    <li>$4 - Second GG hex</li>
                    <li>$5 - First BB hex</li>
                    <li>$6 - Second BB hex</li>
                    <li>$c - Character to format</li>
                  </ul>
                </div>
                <label for="color-preset">Color Preset</label>
                <div class="select" style="width:100%">
                  <select style="width:100%" id="color-preset" onchange="preset(this.value); updateOutputText(event);">
                    <option value='0'>None</option>
                    <option value='1'>Rainbow</option>
                    <option value='2'>Skyline</option>
                    <option value='3'>Mango</option>
                    <option value='4'>Vice City</option>
                    <option value='5'>Dawn</option>
                    <option value='6'>Rose</option>
                    <option value='7'>Firewatch</option>
                  </select>
                </div>
                <label for="exportPreset">Custom Presets</label><br>
                <button class="button" type="button" id="exportPreset"
                  onclick="copyTextToClipboard(exportPreset());">
                  Copy Preset
                </button>
                <button class="button" type="button" id="importPreset"
                  onclick="showfield('importInput')">
                  Import Preset
                </button>
                <div id="importInput" style="display: none;">
                  <label for='import'>Paste Here</label>
                  <input id="import" name="ImportInput" class="input" type="text" onchange="javascript: importPreset(this.value)">  
                </div>
                <br><br>
                <div id="formatSelector">
                  <label class="checkbox">
                    <input type="checkbox" id="bold" onclick="updateOutputText();">
                    Bold
                  </label>
                  <label class="checkbox">
                    <input type="checkbox" id="italics" onclick="updateOutputText();">
                    Italic
                  </label>
                  <label class="checkbox">
                    <input type="checkbox" id="underline" onclick="updateOutputText();">
                    Underline
                  </label>
                  <label class="checkbox">
                    <input type="checkbox" id="strike" onclick="updateOutputText();">
                    Strikethrough
                  </label>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jscolor/2.4.8/jscolor.min.js"></script>
  <script src="/js/RGBScript.js"></script>
  <script src="/js/GradientScript.js"></script>
  <script>
    let qPreset = '<%- queryPreset %>';
    if(qPreset) importPreset(qPreset);
  </script>
<%- include("partials/footer") %>
