<%- include("partials/header", { path, title: "SimplyMC - A Minecraft Multitool"}) %>

  <section class="hero is-dark is-fullheight-with-navbar">
    <div class="hero-body">
      <div class="container has-text-centered">
        <p class="title">SimplyMC</p>
        <p class="subtitle">
          Minecraft multitool for <span id="typing"></span>
          <br><br>
          💖 Consider donating if this helped you:
          <br>
          <a href="https://ko-fi.com/N4N550HUP">
            <img src="https://ko-fi.com/img/githubbutton_sm.svg">
          </a>
        </p>
      </div>
    </div>
  </section>

  <script type="text/javascript" src="js/typer.js"></script>
  <script>
    $("#typing").typer({
      strings: [
        "developers",
        "server owners",
        "players",
        "you"
      ],
      typeSpeed: 100,
      backspaceSpeed: 50,
    })
  </script>

<%- include("partials/footer") %>