<%- include("partials/header", { path, title: "Page not found", description: "Bruh why are you sending this as a link lmfao" }) %>

<section class="hero is-dark is-fullheight-with-navbar">
  <div class="hero-body">
    <div class="container has-text-centered">
      <p class="title">This page could not be found!</p>
      <p class="subtitle">Did you misspell the URL?</p>
    </div>
  </div>
</section>

<%- include("partials/footer") %>