<%- include("partials/header", { path, title: "Animated Texture Creator"}) %>
<link rel="stylesheet" href="/css/AnimTexture.css">

<div id="content">
  <div class="container-fluid">
    <div class="row">
      <h1 id="title">This page could not be found!</h1>
      <p>Did you misspell the URL?</p>
    </div>
</div>

<%- include("partials/footer") %>