<%- include("partials/header", { path, title: "Animated Texture Creator"}) %>

<div id="content">
  <div class="container-fluid">
    <div class="row" style="text-align: center;">
      <h1 id="title">This page could not be found!</h1>
      <p>Did you misspell the URL?</p>
    </div>
</div>

<%- include("partials/footer") %>