<%- include("partials/header", { path, title: "Analyze Spark Profile", description: "Spark Profile Analysis Page" }) %>

<section class="hero is-dark is-fullheight-with-navbar">
  <div class="hero-body">
    <div class="container">
      <p class="title">
        Spark Profile Analysis
      </p>
      <p class="subtitle">
        These are not magic values. Many of these settings have real consequences on your server's mechanics.<br>
        See this guide for detailed information on the functionality of each setting.
      </p>
      <br>
      <p>
        1. <a>Install spark</a> on your server and restart<br>
        <span style="color: darkgray">Not required if running Purpur 1.19 and up</span><br>
        2. Do /spark profiler<br>
        3. Do /spark profiler --stop, copy the link you get<br>
      </p>
      <label for="link">4. Paste the spark profile link here</label><br>
      <input id="link" class="input" type="url" placeholder="https://spark.lucko.me/010CZJBz2E" style="max-width: 280px;">
      <button class="button is-black" onclick="submit()">Submit</button>
      <br><br>
      <div id="error" class="notification is-danger" style="display: none;"></div>
      <p>
        You can also copy the code into a link<br>
        <span style="color: darkgray">e.g. https://simplymc.art/profile-result/010CZJBz2E</span><br>
        Powered by <a href="https://github.com/Pemigrade/botflop" style="text-decoration: underline;">botflop</a>
      </p>
    </div>
  </div>
</section>

<script>
  if ("<%= error %>") showError("<%= error %>")

  function showError(error) {
    document.getElementById("error").innerHTML = error;
    document.getElementById("error").style.display = "block";
  }

  function submit() {
    const link = document.getElementById("link").value;
		if ((link.startsWith('https://timin') || link.startsWith('https://www.spigotmc.org/go/timings?url=') || link.startsWith('https://spigotmc.org/go/timings?url='))) {
      return showError('<p class="subtitle">⚠️ Timings Report</p> This is a Timings report. <a href="/PaperTimings" style="text-decoration: underline;">Click here</a> instead for this type of report.')
		}
		if (!link.startsWith('https://spark.lucko.me/')) {
      return showError('<p class="subtitle">⚠️ Not a valid URL</p> This is not a spark link.')
		}
    const code = link.replace('https://spark.lucko.me/', '');
    window.location.href = `/profile-result/${code}`;
  }
</script>

<%- include("partials/footer") %>