name: 'publish'
on:
  push:
    branches:
      - dev
      - v3

jobs:
  publish-tauri:
    permissions:
      contents: write
    strategy:
      fail-fast: false
      matrix:
        platform: [macos-latest, ubuntu-latest, windows-latest]

    runs-on: ${{ matrix.platform }}
    if: startsWith(github.event.head_commit.message, '[tauri]')
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - run: corepack enable
      - name: Install Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 19
          cache: pnpm

      - name: install Rust stable
        uses: dtolnay/rust-toolchain@stable

      - name: install dependencies (ubuntu only)
        if: matrix.platform == 'ubuntu-latest'
        run: |
          sudo apt-get update
          sudo apt-get install -y javascriptcoregtk-4.1 libsoup-3.0 webkit2gtk-4.1

      - name: install frontend dependencies
        run: pnpm install

      - uses: tauri-apps/tauri-action@v0
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tagName: app-v__VERSION__ # the action automatically replaces \_\_VERSION\_\_ with the app version
          releaseName: 'App v__VERSION__'
          releaseBody: |
            Note for Linux users:
            The WebKit implementation is really laggy and outdated on Linux for Tauri so you're better off installing SimplyMC as a web app through your preferred browser.
          releaseDraft: true
          prerelease: ${{ github.ref != 'refs/heads/v3' }}
